@charset "UTF-8";
/*프로파일 메인 영역*/

/* 인덱스페이지 전체영역 home*/

.profile_edu{
  width: 100%;
  height:100%;
}
#span0{
  margin-left:24%;
  text-align: center;
}
#span1{
  margin-left:60%;
  margin-top:20%;
text-align: center;
}
#span2{
  margin-left:24%;
  margin-top:30%;
  text-align: center;
}
#edu_text{
  font-family: 'nanum';
  font-size:20px;
  font-weight: 700;
  color:black;
}
#date{
  font-family: 'Kaushan Script', cursive;
  font-size:20px;
  font-weight: 500;
  color:black;
}